{% load budget %}
<div id="entries">
    <div class="controls">
        <div class="tools">
            {% if account.clearable %}
            <div>
                <button hx-post="{% url 'reconcile' account.id %}" hx-swap="none">Reconcile</button> balance of
                <long-currency id="balance" currency="{{ account.currency }}" value="{{ balance }}"></long-currency>
            </div>
            {% endif %}
            <button type="button"
                hx-on:click="document.querySelector('entry-list.transactions').select(null)">
                New Transaction</button>
        </div>
    </div>
    {% spaceless %}
    <entry-list class="transactions grid {% if account.clearable %}c5{% else %}c4{% endif %}"
        {% if hx.event != 'kbdselect' %}autofocus{% endif %}
        name="transaction"
        value="{{ transaction_id|default:"" }}"
        hx-trigger="kbdselect,mouseselect delay:100ms"
        hx-get="{% url 'all' budget.id account.id %}"
        hx-target="#transaction">
        {% block list-contents %}
        <div>
            <span class="th">Date</span>
            <span class="th">Transaction</span>
            <span class="th">{{ account.currency }}</span>
            <span class="th"><short-currency currency="{{ account.currency }}" value="{{ balance }}"></short-currency></span>
            {% if account.clearable %}<span class="th">☑️</span>{% endif %}
        </div>
        {% for transaction in entries %}
        <div class="{% cycle 'a' 'b' as rowcolor %} {{transaction.is_inbox|yesno:"is_inbox," }}"
            data-value="{{transaction.id}}">
            <span class="td">{{transaction.date|date:"SHORT_DATE_FORMAT"}}
                {% if transaction.recurrence %}🔁{% endif %}
            </span>

            <span class="td">{{transaction|transaction_description:account}}</span>

            <short-currency class="td number" currency="{{ account.currency }}" value="{{ transaction.change }}"></short-currency>

            {% if transaction.is_inbox %}
            <span class="td">
                <button hx-post="{% url 'add_to_account' account.id transaction.id%}"
                    hx-swap="none" hx-select-oob="#transaction,#entries,#categories"
                    hx-target="this">
                    Move here</button>
            </span>
            {% else %}
            <short-currency class="td number" value="{{transaction.running_sum}}" currency="{{ account.currency }}" id="total-{{transaction.id}}"></short-currency>
            {% endif %}

            {% if account.clearable %}
            {% if transaction.is_inbox %}
            <span class="td"></span>
            {% else %}
            <span class="td" id="cleared-{{transaction.id}}">
                {% if transaction.reconciled %}
                🔒
                {% else %}
                <input type="checkbox"
                    name="clear"
                    hx-post="{% url 'clear' account.id transaction.id %}"
                    hx-swap="none settle:0"
                    hx-on:dblclick="event.stopPropagation()"
                    {% if not transaction.uncleared %}checked{% endif %}>
                {% endif %}
            </span>
            {% endif %}
            {% endif %}
        </div>
        {% endfor %}
        {% endblock %}
    </entry-list>
    {% endspaceless %}
</div>
<div id="transaction" class="editor">
    {% if transaction_id %}
    {% include 'budget/partials/edit.html' %}
    {% endif %}
</div>
