<budget-form>
<table id="table">
    <tr>
        <th>Category</th>
        <th>{{ form.instance.date.strftime("%b %Y") }}</th>
        <th class="t4">Budgeted</th>
        <th>Spent</th>
        <th>{{ end_of_month(form.instance.date).strftime("%b %Y") }}</th>
    </tr>
    {% set rowclass = cycler('a', 'b') %}
    {% set ns = namespace(lastgroup="") %}
    {% for row in form.rows %}
    {% if row.category.group != ns.lastgroup %}
    {% set ns.lastgroup = row.category.group %}
    <tr class="{{ rowclass.next() }}">
        <th>{{row.category.group or "&nbsp;"}}</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    {% endif %}
    <tr class="{{ rowclass.next() }}">
        <td>{{ row.category.name or 'Inbox' }}</td>
        <td class="number">
            <long-currency currency="{{ row.category.currency }}" value="{{ row.category.balance }}"></long-currency>
        </td>
        <td class="tdinput">
            {% if row.category.name == '' %}
            <currency-input currency="{{ row.category.currency }}" data-budget-inbox>
                {{ row.field }}<input class="suggested number" readonly>
            </currency-input>
            {% else %}
            <currency-input currency="{{ row.category.currency }}" data-budget-category>
                {{ row.field }}<input class="number">
            </currency-input>
            {% endif %}
        </td>
        <td class="number">
            <short-currency currency="{{ row.category.currency }}" value="{{ row.category.change }}"></short-currency>
        </td>
        <td class="number">
            <short-currency currency="{{ row.category.currency }}" value="{{ row.final }}" data-total="{{ row.total }}"></short-currency>
        </td>
    </tr>
    {% endfor %}
</table>
</budget-form>
{{ form.date }}
{{ form.errors or "" }}