<tr class="new_row">
    <td colspan="2">
        {{ currency_formset.management_form.TOTAL_FORMS }}
        {% if currency_formset.management_form.TOTAL_FORMS.value < currency_formset.management_form.MAX_NUM_FORMS.value %}
        <button type="button"
            hx-get="{% url 'currency_form' currency_formset.management_form.TOTAL_FORMS.value %}"
            hx-target="closest .new_row"
            hx-swap="outerHTML settle:0">New Currency</button>
        {% endif %}
        &nbsp;
    </td>
</tr>
