<tr class="edit-row">
    <td class="tdinput">
        {{ row.account }}<span></span><input list="account-list" autofocus
            {% if row.row.reconciled %}readonly{% endif %}>
    </td>
    <td class="tdinput">
        {{ row.category }}<span></span><input list="category-list">
    </td>
    <td class="tdinput">
        {{ row.transferred }}
        <input class="number" pattern="\s*-?\d+(?:\.\d*)?\s*"
            {% if row.row.reconciled %}readonly{% endif %}>
    </td>
    <td class="tdinput">
        {{ row.moved }}
        <input class="number" pattern="\s*-?\d+(?:\.\d*)?\s*">
    </td>
</tr>
