<div class="controls">
    <a class="backbutton" href="{{ url('all', budget.id, account_id) }}" hx-get="{{ url('all',budget.id,account_id) }}" hx-target="#account" hx-select-oob="#transaction">Back</a>
    <div class="tools">
        {% if transaction.id and transaction.kind == "T" %}
        <button type="button" hx-delete=""
            hx-swap="none" hx-select-oob="#transaction,#entries:innerHTML,#categories,#datas"
	    hx-confirm="Delete this transaction?">
            Delete Transaction</button>
        {% endif %}
        <button id="submit-button" form="form">
            {% if transaction.id %}Save Changes{% else %}Create Transaction{% endif %}
        </button>
    </div>
</div>
<div class="scroll edit">
    {% if transaction.kind == 'B' %}
    <form id="form" autocomplete="off"
        hx-post=""
        hx-swap="none" hx-select-oob="#transaction,#entries:innerHTML,#categories,#datas">
    {% include 'budget/partials/budget.html' %}
    </form>
    {% else %}
    <transaction-editor>
    <form id="form" autocomplete="off"
        hx-post=""
        hx-swap="none" hx-select-oob="#transaction,#entries:innerHTML,#categories,#datas">
        <date-repeat class="part-extras">
            <table class="date-table">
                <tr>
                    <th colspan="2">Date</th>
                </tr>
                <tr>
                    <td class="tdinput t6" colspan="2">{{ form.date }}</td>
                </tr>
                <tr data-value="{{ form.repeat.value() }}">
                    <th class="tdinput" colspan="2">{{ form.repeat }}</th>
                </tr>
                <tr class="repeat R">
                    <td class="tdinput">{{ form.interval }}</td>
                    <td class="tdinput">{{ form.freq }}</td>
                </tr>
                <tr class="repeat C">
                    <td class="tdinput" colspan="2">{{ form.recurrence }}</td>
                </tr>
            </table>
        </date-repeat>
        {% for part in form.formset %}
        {% set part_index=loop.index0 %}
        {% block edit_part scoped %}
        <edit-part>
            <hr>
            <table class="edit-table">
                <tr>
                    <th class="t6">Account</th>
                    <th class="t6">Category</th>
                    <th class="t4">Paid</th>
                    <th class="t4">Owed</th>
                </tr>
                {% for row in part.formset %}
                {% block edit_row scoped %}
                <tr class="edit-row">
                    <td class="tdinput"><account-select data-account>
                        {{ row.account }}<span></span><input list="account-list"
                            {% if row.row.reconciled %}readonly{% endif %}>
                        </account-select></td>
                    <td class="tdinput"><account-select>
                        {{ row.category }}<span></span><input list="category-list">
                    </account-select></td>
                    <td class="tdinput"><currency-input currency="{{ part.currency.value() }}">
                        {{ row.transferred }}
                        <input class="number" pattern="\s*-?\d+(?:\.\d*)?\s*"
                            {% if row.row.reconciled %}readonly{% endif %}>
                    </currency-input></td>
                    <td class="tdinput"><currency-input currency="{{ part.currency.value() }}">
                        {{ row.moved }}
                        <input class="number" pattern="\s*-?\d+(?:\.\d*)?\s*">
                    </currency-input></td>
                </tr>
                {% if not loop or loop.last %}
                <tr class="new_row" style="text-align:right;">
                    <td colspan="4">
                        {{ part.formset.management_form.TOTAL_FORMS }}
                        &nbsp;
                        {% if part.formset.management_form.TOTAL_FORMS.value() < part.formset.management_form.MAX_NUM_FORMS.value() %}
                        <button type="button"
                            hx-get="{{ url('row_form', budget.id, part_index, part.formset.management_form.TOTAL_FORMS.value()) }}"
                            hx-target="closest .new_row"
                            hx-swap="outerHTML">+</button>
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endblock %}
                {% endfor %}
            </table>
            <div class="part-extras">
                {{ part.id }}
                {{ part.formset.management_form.INITIAL_FORMS }}
                {{ part.formset.management_form.MIN_NUM_FORMS }}
                {{ part.formset.management_form.MAX_NUM_FORMS }}
                <table class="note">
                    <tr>
                        <th>Note</th>
                    </tr>
                    <tr>
                        <td class="tdinput">{{ part.note }}</td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <th>Currency</th>
                    </tr>
                    <tr>
                        <td class="tdinput t4">{{ part.currency }}</td>
                    </tr>
                </table>
                {{ part.errors }}
            </div>
            <div class="category-sum"></div>
            <div class="account-sum"></div>
            <div class="debt"></div>
        </edit-part>

        {% if not forloop or forloop.last %}
        <div id="new_part">
            {{ form.formset.management_form.TOTAL_FORMS }}
            {% if form.formset.management_form.TOTAL_FORMS.value() < form.formset.management_form.MAX_NUM_FORMS.value() %}
            <button type="button"
                hx-get="{{ url('part_form', budget.id, form.formset.management_form.TOTAL_FORMS.value()) }}"
                hx-target="#new_part"
                hx-swap="outerHTML">Add Part</button>
            {% endif %}
        </div>
        {% endif %}
        {% endblock %}
        {% endfor %}
        {{ form.formset.management_form.INITIAL_FORMS }}
        {{ form.formset.management_form.MIN_NUM_FORMS }}
        {{ form.formset.management_form.MAX_NUM_FORMS }}
        {{ csrf_input }}
    </form>
    </transaction-editor>
    {{ form.formset.non_form_errors() or "" }}
    
    {% endif %}

    {{ form.errors or "" }}
</div>
