{% load budget static %}

<div>
    <div>
        <span class="th">Date</span>
        <span class="th">Transaction</span>
        <span class="th">{{ account.currency }}</span>
        <span class="th">Total</span>
        {% if account.clearable %}<span class="th">☑️</span>{% endif %}
    </div>
    {% for transaction in entries %}
    <div class="{% cycle 'a' 'b' as rowcolor %} {{transaction.is_inbox|yesno:"is_inbox," }}"
        data-id="{{transaction.id}}"
        data-url="{% url 'edit' account.budget.id transaction.id %}"
        hx-on:mousedown="selectItem(this)"
        hx-on:dblclick="editItem(this)">
        <span class="td">{{transaction.date|date:"SHORT_DATE_FORMAT"}}
            {% if transaction.recurrence %}🔁{% endif %}
        </span>

        <span class="td">{{transaction|transaction_description:account}}</span>

        <span class="td number shortcurrency" data-currency="{{ account.currency }}">{{transaction.change}}</span>

        {% if transaction.is_inbox %}
        <span class="td">
            <button hx-post="{% url 'add_to_account' account.id transaction.id%}"
                hx-target="closest .listview"
                hx-swap="settle:0">Move here</button>
        </span>
        {% else %}
        <span class="td number shortcurrency" data-currency="{{ account.currency }}" id="total-{{transaction.id}}">{{transaction.running_sum}}</span>
        {% endif %}

        {% if account.clearable %}
        <span class="td">
            {% if not transaction.is_inbox %}
            <input type="checkbox"
                name="clear"
                hx-post="{% url 'clear' account.id transaction.id %}"
                hx-swap="none settle:0"
                hx-on:dblclick="event.stopPropagation()"
                {% if not transaction.uncleared %}checked{% endif %}>
            {% endif %}
        </span>
        {% endif %}
    </div>
    {% endfor %}
</div>
