<tr class="new_row">
    <td colspan="5">
        {{ category_formset.management_form.TOTAL_FORMS }}
        {% if category_formset.management_form.TOTAL_FORMS.value < category_formset.management_form.MAX_NUM_FORMS.value %}
        <button type="button" hx-get="{% url 'category_form' budget.id category_formset.management_form.TOTAL_FORMS.value %}"
            hx-target="closest .new_row"
            hx-swap="outerHTML settle:0">New Category</button>
        {% endif %}
        &nbsp;
    </td>
</tr>
