{% load l10n %}
<div class="controls"><div class="tools">
    <a href="{% url 'manage' budget.id %}">Manage...</a>
    <a href="{% url 'budget' budget.id today.year today.month %}">Budget...</a>
</div></div>
{% localize off %}
<entry-list
    class="scroll"
    name="account"
    {% if not account %}autofocus{% endif %}
    hx-trigger="kbdselect,mouseselect delay:100ms"
    hx-get="{% url 'all' budget.id %}"
    hx-target="#account"
    hx-select-oob="#transaction">
    <table id="categories">
        <tr>
            <th>Category</th>
            <th class="t5">Balance</th>
        </tr>
        {% for row in categories %}
        {% ifchanged row.group %}
        <tr class="{% cycle 'a' 'b' as rowcolor %}">
            <th colspan="2">{{ row.group|default:"&nbsp;" }}</th>
        </tr>
        {% endifchanged %}
        <tr class="{% cycle rowcolor %} {% if row.id == account.id %}checked{% endif %}"
        data-value="{{row.id}}">
            <td>{{ row.name|default:"Inbox" }}</td>
            <td class="number">
                <long-currency currency="{{ row.currency }}" value="{{ row.balance | default:0 }}"></long-currency>
            </td>
        </tr>
        {% endfor %}
        {% for row in totals %}
        <tr class="{% cycle rowcolor %} {% if row.id == account.id %}checked{% endif %}" data-value="{{ row.id }}">
            <td>Total</td>
            <td class="number">
                <long-currency currency="{{ row.currency }}" value="{{ row.balance }}"></long-currency>
            </td>
        </tr>
        {% endfor %}
        <tr><th colspan="2">&nbsp;</th></tr>
        <tr>
            <th>Account</th>
            <th class="t5">Balance</th>
        </tr>
        {% for row in accounts %}
        <tr class="{% cycle 'a' 'b' as rowcolor %} {% if row.id == account.id %}checked{% endif %}" data-value="{{row.id}}">
            <td>{{ row.name|default:"Inbox" }}</td>
            <td class="number"> <long-currency currency="{{ row.currency }}" value="{{ row.balance | default:0 }}"></long-currency></td>
        </tr>
        {% endfor %}
        {% for row in debts %}
        <tr class="{% cycle rowcolor %} {% if row.id == account.id %}checked{% endif %}" data-value="{{ row.id }}">
            <td>Owed by {{ row.other }}</td>
            <td class="number">
                <long-currency currency="{{ row.currency }}" value="{{ row.other.balance }}"></long-currency>
            </td>
        </tr>
        {% endfor %}
        {% for row in totals %}
        <tr class="{% cycle rowcolor %}" data-value="{{ row.id }}">
            <td>Total</td>
            <td class="number">
                <long-currency currency="{{ row.currency }}" value="{{ row.balance }}"></long-currency>
            </td>
        </tr>
        {% endfor %}
    </table>
    <template id="new-group-t">
        <tr id="new-group" data-category="1">
            <th colspan="2">New Group</th>
        </tr>
    </template>
</entry-list>
{% endlocalize %}
