{% load budget static %}

<!DOCTYPE html>

<head>
    <title>
        {% if account.budget.payee_of %}
        {{ account.budget.name }}
        {% elif account.is_inbox %}
        Inbox
        {% else %}
        {{ account.name }}
        {% endif %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
    <script src="{% static 'budget/htmx.min.js' %}"></script>
    <script src="{% static 'budget/jdecimal.js' %}"></script>
    <script src="{% static 'budget/util.js' %}"></script>
    <script src="{% static 'budget/account.js' %}"></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="controls">
        <div class="navigation">
            <div><a href="{% url 'overview' account.budget.main_budget.id %}">Overview</a></div>
        </div>
        <div class="tools">
            <button type="button" id="new">Add transaction</button>
            <div>
                {% if form %}
                <form method="post">
                    {% csrf_token %}
                    {{ form.name }}
                    <button>Rename</button>
                </form>
                {% else %}
                {% account_in_budget account account.budget %}
                {% endif %}
            </div>
        </div>
    </div>
    {% spaceless %}
    <main class="account">
        <div class="listview {% if account.clearable %}c5{% else %}c4{% endif %}" tabindex="0" autofocus id="table">
            {% include "budget/partials/list_contents.html" %}
        </div>
        <div class="transaction-details">
            {% for transaction in entries %}
            <div data-id="{{transaction.id}}">
                {% if transaction.kind != 'B' %}
                {% for part in transaction.parts.all %}
                <table>
                    <th>Account</th>
                    <th>Category</th>
                    <th>Amount</th>
                    {% for entry in part.tabular %}
                    <tr class="{% cycle 'a' 'b' %}">
                        <td>{% account_in_budget entry.account account.budget %}</td>
                        <td>{% account_in_budget entry.category account.budget %}</td>
                        {% firstof entry.account.currency entry.category.currency as currency %}
                        <td class="number {% if currency == account.currency %}shortcurrency{% endif %}" data-currency="{{ currency }}">{{entry.amount}}</td>
                    </tr>
                    {% endfor %}
                    {% resetcycle %}
                </table>
                {% if part.note %}<div>
                    <pre>{{ part.note }}</pre>
                </div>{% endif %}
                {% endfor %}
                {% endif %}
                <div class="transaction-detail-edit"><a href="{% url 'edit' account.budget.id transaction.id %}?back={{ request.get_full_path|urlencode }}">
                        {% if transaction.kind != 'B' %}Edit...
                        {% else %}Edit budget...{% endif %}
                    </a></div>
            </div>
            {% endfor %}
        </div>
    </main>
    {{ data|json_script:"data" }}
    {% endspaceless %}
</body>
