{% load budget static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'budget/style.css' %}">
<script src="{% static 'budget/jdecimal.js' %}"></script>
<script src="{% static 'budget/util.js' %}"></script>
<script src="{% static 'budget/account.js' %}"></script>

<div><a href="{% url 'overview' account.budget.id %}">Overview</a></div>
{% url 'budget' account.budget.id as budget_url %}

{% if form %}
<div>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}
        {% if form.currency %}
        {{ form.currency }}
        <button>Save</button>
        {% else %}
        <button>Rename</button>
        {% endif %}
    </form>
    <datalist id="currencies">
        <option value="USD">
        <option value="EUR">
        <option value="JPY">
        <option value="GBP">
        <option value="AUD">
        <option value="CHF">
        <option value="CNH">
        <option value="INR">
    </datalist>
</div>
{% endif %}
<div><button type="button" id="new">Add transaction</button></div>
<table id="table">
    <th class="t6">Date</th>
    <th class="t6">Description</th>
    <th class="t4">{{ account.currency }}</th>
    <th class="t4">Total</th>
    {% for entry in entries %}
    <tr class="{% cycle 'a' 'b' as rowcolor %}" tabindex="0" data-id="{{entry.transaction.id}}"
        data-kind="{{entry.transaction.kind}}">
        <td>{{entry.transaction.date}}</td>
        <td>{{entry.transaction|transaction_description:account}}</td>
        <td class="number shortcurrency" data-currency="{{ account.currency }}">{{entry.amount}}</td>
        <td>
            <div class="detail-container">
                <div class="transaction-detail">
                    <span class="line">──┐</span>
                    <table class="transaction-detail-table">
                        <th class="t5">Account</th>
                        <th class="t5">Category</th>
                        <th class="t4">Amount</th>
                        {% for part in entry.transaction|tabular:account.budget %}
                        <tr class="{% cycle 'a' 'b' %}">
                            <td>{% account_in_budget part.account account.budget %}</td>
                            <td>{% account_in_budget part.category account.budget %}</td>
                            {% firstof part.account.currency part.category.currency as currency %}
                            <td class="number {% if currency == account.currency %}shortcurrency{% endif %}"
                                data-currency="{{ currency }}">
                                {{part.amount}}
                            </td>
                        </tr>
                        {% endfor %}
                        {% resetcycle %}
                    </table>
                </div>
            </div>
            <div class="number shortcurrency" data-currency="{{ account.currency }}">{{entry.running_sum}}</div>
        </td>
    </tr>
    {% endfor %}
</table>
{{ data|json_script:"data" }}
