{% load static %}

<!DOCTYPE html>

<head>
    <title>{{ TODO }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
    <!--Not deferred to avoid FOUC-->
    <script src="{% static 'budget/jdecimal.js' %}"></script>
    <script src="{% static 'budget/util.js' %}"></script>
    <script src="{% static 'budget/overview.js' %}"></script>
    <script src="{% static 'budget/account.js' %}"></script>
    <script src="{% static 'budget/editor.js' %}"></script>
    <script src="{% static 'budget/htmx.min.js' %}" defer></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="all">
    <div id="overview">
        {% include 'budget/partials/overview.html' %}
    </div>
    <div id="account">
        {% if account %}
        {% include 'budget/partials/account.html' %}
        {% endif %}
    </div>

    <datalist id="account-list">
        <option data-id="{{ budget.id }}" data-name="Inbox" value="👤 Inbox"></option>
        {% for account in edit.accounts %}
        <option data-id="{{ account.id }}" data-name="{{ account.name }}" value="👤 {{ account.name }}"></option>
        {% endfor %}
        {% for id, name in edit.friends.items %}
        <option data-id="{{ id }}" data-name="{{ name }}" value="👥 {{ name }}"></option>
        {% endfor %}
        {% for id, name in edit.payees.items %}
        <option data-id="{{ id }}" data-name="{{ name }}" value="{{ name }}"></option>
        {% endfor %}
    </datalist>
    <datalist id="category-list">
        <option data-id="{{ budget.id }}" data-name="Inbox" value="👤 Inbox"></option>
        {% for category in edit.categories %}
        <option data-id="{{ category.id }}" data-name="{{ category.name }}" value="👤 {{ category.name }}"></option>
        {% endfor %}
        {% for id, name in edit.friends.items %}
        <option data-id="{{ id }}" data-name="{{ name }}" value="👥 {{ name }}"></option>
        {% endfor %}
        {% for id, name in edit.payees.items %}
        <option data-id="{{ id }}" data-name="{{ name }}" value="{{ name }}"></option>
        {% endfor %}
    </datalist>
    {{ edit.data|json_script:"data" }}
    <script>window.data = JSON.parse(document.getElementById('data').textContent);</script>
</body>
