{% load budget static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'budget/style.css' %}">
<script src="{% static 'budget/budgeting.js' %}"></script>

<form class="edit" action="{{ request.get_full_path }}" method="post">
    <table>
        <tr>
            <th>Date</th>
            <th>Note</th>
        </tr>
        <tr>
            <td class="tdinput">{{ form.date }}</td>
            <td class="tdinput">{{ form.description }}</td>
        </tr>
    </table>
    <table id="parts">
        <tr>
            <th>Category</th>
            <th>Amount</th>
        </tr>
        {% for name, input in form.rows %}
        <tr>
            <td>{{ name|default:"Inbox" }}</td>
            <td class="tdinput" data-inbox="{{name|yesno:",1"}}">{{ input }}</td>
        </tr>
        {% endfor %}
    </table>
    <div id="category-sum"></div>
    {{ formset.management_form }}
    {% csrf_token %}
    <input id="submit-button" type="submit" value="Save">
    <button id="cancel" type="button">Cancel</button>
</form>
{% if transaction_id %}
<form class="edit" action="{% url 'delete' transaction_id%}?next={{ request.GET.back|urlencode }}" method="post">
    {% csrf_token %}
    <input type="submit" value="Delete">
</form>
{% endif %}

{{ data|json_script:"data" }}
{{ form.errors|default:"" }}
{{ formset.errors|default:"" }}
{{ formset.non_form_errors }}
