{% load budget static %}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
    <script src="{% static 'budget/util.js' %}"></script>
    <script src="{% static 'budget/jdecimal.js' %}"></script>
    <script src="{% static 'budget/editor.js' %}"></script>
    <script src="{% static 'budget/budget.js' %}"></script>
    <script src="{% static 'budget/htmx.min.js' %}" defer></script>
</head>
<body class="popup">
    <div class="controls">
        <div class="navigation">
            <div><a href="{{ budget.get_absolute_url }}">Back</a></div>
        </div>
        <div class="tools">
            {% if prior and not form.instance.id %}
            <form method="post" action="{% url 'copy_budget' budget.id prior.id current_year current_month  %}">
                {% csrf_token %}
                <div>
                    <button>Copy from {{ prior.date|date:"M Y" }}</button>
                    <button form="form">Save</button>
                </div>
            </form>
            {% endif %}
            <button form="form">Save</button>
        </div>
    </div>

    <main class="manage">
        <form id="datepicker" is="date-picker">
            <div class="datepicker">
                <div class="years">
                    {% for year in years %}
                    <input type="radio" name="year" id="year{{ year }}" value="{{ year }}"
                        {% if year == current_year %}checked{% endif %}>
                    <label for="year{{ year }}">{{ year }}</label>
                    {% endfor %}
                </div>
                <div class="months">
                    {% for month in months %}
                    <a href="{% url 'budget' budget.id month.year month.month %}"
                        {% if month.month == current_month %}class="current" {% endif %}>
                        {{ month|date:"M" }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </form>
        <form id="form" method="post" is="budget-form">
            {% include 'budget/partials/budget.html' %}
            {% csrf_token %}
        </form>
    </main>
</body>