{% load budget %}

<!DOCTYPE html>
<table>
    <th>Date</th>
    <th>Note</th>
    <th>Account</th>
    <th>Category</th>
    <th>Account</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Total</th>
    {% for transaction in transactions %}
    {% for part in transaction.transactionpart_set.all %}
    {% if forloop.first %}
    <tr class="{% cycle 'a' 'b' %}">
        <td>{{transaction.date}}</td>
        <td>{{transaction.description}}</td>
        {% else %}
    <tr>
        <td></td>
        <td></td>
        {% endif %}
        <td>{% account_in_budget part.from_account budget_id %}</td>
        <td>{% account_in_budget part.from_category budget_id %}</td>
        <td>{% account_in_budget part.to_account budget_id %}</td>
        <td>{% account_in_budget part.to_category budget_id %}</td>
        <td>{{part.amount}}</td>
        <td>{{part.running_sum}}</td>
    </tr>
    {% endfor %}
    {% endfor %}
</table>

<style>
    table {
        border-collapse: collapse;
    }

    tr.a {
        background-color: #e0f0eb;
    }

    td,
    th {
        border: 1px solid #888;
        padding: 1px 2px;
    }

</style>
