{% load budget static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'budget/style.css' %}">

<p><a href="{% url 'overview' budget_id %}">Overview</a></p>
{% url 'budget' budget_id as budget_url %}
{% if request.get_full_path != budget_url %}
<p><a href="{{ budget_url }}">See all transactions</a></p>
{% endif %}
<table>
    <th>Date</th>
    <th>Note</th>
    <th>Account</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Total</th>
    {% for transaction in transactions %}
    {% with parts=transaction|transaction_display %}
    {% for part in parts %}
    {% if forloop.first %}
    <tr class="{% cycle 'a' 'b' as rowcolor %}">
        <td>{{transaction.date}}</td>
        <td>{{transaction.description}}</td>
        {% else %}
    <tr class="{{ rowcolor }}">
        <td></td>
        <td></td>
        {% endif %}
        <td>{% account_in_budget part.to.to budget_id %}</td>
        <td>{% account_in_budget part.category.to budget_id %}</td>
        <td>{{part.amount}}</td>
        <td>{% if forloop.first %}
            {{ transaction.running_sum }}
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    {% endwith %}
    {% endfor %}
</table>
