{% load budget static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'budget/style.css' %}">
<script src="{% static 'budget/jdecimal.js' %}"></script>
<script src="{% static 'budget/editor.js' %}"></script>

<form id="form" class="edit" action="{{ request.get_full_path }}" method="post">
    <table>
        <tr>
            <th>Date</th>
            <th>Note</th>
        </tr>
        <tr>
            <td class="tdinput">{{ form.date }}</td>
            <td class="tdinput">{{ form.description }}</td>
        </tr>
    </table>
    <table id="parts">
        <tr>
            <th>Account</th>
            <th>Category</th>
            <th>Transferred</th>
            <th>Categorized</th>
        </tr>
        {% for form in formset %}
        <tr>
            <td class="tdinput">
                {{ form.account }}<input list="account-list" size="12">
            </td>
            <td class="tdinput">
                {{ form.category }}<input list="category-list" size="12">
            </td class="tdinput">
            <td class="tdinput">{{ form.transferred }}</td>
            <td class="tdinput">{{ form.moved }}</td>
        </tr>
        {% endfor %}
        <tr id="adder-row" style="text-align:right;">
            <td colspan="6"><button id="addrow" type="button">+</button></td>
        </tr>
    </table>
    {{ formset.management_form }}
    {% csrf_token %}
</form>
<div id="category-sum"></div>
<div id="account-sum"></div>
<div id="debt"></div>
<div>
    <button id="submit-button" form="form">Save</button>
    <button id="cancel" type="button">Cancel</button>
    {% if transaction_id %}
    <form class="edit" action="{% url 'delete' budget_id transaction_id%}?next={{ request.GET.back|urlencode }}"
        method="post">
        {% csrf_token %}
        <button>Delete</button>
    </form>
    {% endif %}
</div>
<datalist id="account-list">
    {% for account, id in data.accounts %}
    <option value="{{ account }}"></option>
    {% endfor %}
</datalist>
<datalist id="category-list">
    {% for category, id in data.categories %}
    <option value="{{ category }}"></option>
    {% endfor %}
</datalist>

{{ data|json_script:"data" }}
{{ form.errors|default:"" }}
{{ formset.errors|default:"" }}
{{ formset.non_form_errors }}
