{% load budget static %}

<!DOCTYPE html>

<head>
    <title>{{ form.date.value }} - Transaction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
    <script src="{% static 'budget/jdecimal.js' %}"></script>
    <script src="{% static 'budget/util.js' %}"></script>
    <script src="{% static 'budget/editor.js' %}"></script>
</head>

<form id="form" class="edit" action="{{ request.get_full_path }}" method="post">
    <table>
        <tr>
            <th>Date</th>
        </tr>
        <tr>
            <td class="tdinput t6">{{ form.date }}</td>
        </tr>
    </table>
    <table id="parts">
        <tr>
            <th class="t6">Account</th>
            <th class="t6">Category</th>
            <th class="t5">Transferred</th>
            <th class="t5">Categorized</th>
            <th class="t8">Note</th>
        </tr>
        {% for form in formset %}
        <tr>
            <td class="tdinput">
                {{ form.account }}<span></span><input list="account-list">
            </td>
            <td class="tdinput">
                {{ form.category }}<span></span><input list="category-list">
            </td>
            <td class="tdinput">
                {{ form.transferred_currency }}
                {{ form.transferred }}
                <span></span>
                <input class="number">
            </td>
            <td class="tdinput">
                {{ form.moved_currency }}
                {{ form.moved }}
                <span></span>
                <input class="number">
            </td>
            <td class="tdinput">
                {{ form.note }}
            </td>
        </tr>
        {% endfor %}
        <tr id="adder-row" style="text-align:right;">
            <td colspan="6"><button id="addrow" type="button">+</button></td>
        </tr>
    </table>
    {{ formset.management_form }}
    {% csrf_token %}
</form>
<template id="new-row-t">
    <tr>
        <td class="tdinput">
            <input type="hidden"><span></span><input list="account-list">
        </td>
        <td class="tdinput">
            <input type="hidden"><span></span><input list="category-list">
        </td>
        <td class="tdinput">
            <input type="hidden"><input type="hidden"><span></span><input class="number">
        </td>
        <td class="tdinput">
            <input type="hidden"><input type="hidden"><span></span><input class="number">
        </td>
        <td class="tdinput">
            <input>
        </td>
    </tr>
</template>
<div id="category-sum"></div>
<div id="account-sum"></div>
<div id="debt"></div>
<div>
    <button id="submit-button" form="form">Save</button>
    <button id="cancel" type="button">Cancel</button>
    {% if transaction_id %}
    <form class="edit" action="{% url 'delete' budget.id transaction_id%}?back={{ request.GET.back|urlencode }}"
        method="post">
        {% csrf_token %}
        <button>Delete</button>
    </form>
    {% endif %}
</div>
<datalist id="account-list">
    <option data-id="{{ budget.id }}" data-name="Inbox" value="👤 Inbox"></option>
    {% for account in accounts %}
    <option data-id="{{ account.id }}" data-name="{{ account.name }}" value="👤 {{ account.name }}"></option>
    {% endfor %}
    {% for id, name in friends.items %}
    <option data-id="{{ id }}" data-name="{{ name }}" value="👥 {{ name }}"></option>
    {% endfor %}
    {% for id, name in payees.items %}
    <option data-id="{{ id }}" data-name="{{ name }}" value="{{ name }}"></option>
    {% endfor %}
</datalist>
<datalist id="category-list">
    <option data-id="{{ budget.id }}" data-name="Inbox" value="👤 Inbox"></option>
    {% for category in categories %}
    <option data-id="{{ category.id }}" data-name="{{ category.name }}" value="👤 {{ category.name }}"></option>
    {% endfor %}
    {% for id, name in friends.items %}
    <option data-id="{{ id }}" data-name="{{ name }}" value="👥 {{ name }}"></option>
    {% endfor %}
    {% for id, name in payees.items %}
    <option data-id="{{ id }}" data-name="{{ name }}" value="{{ name }}"></option>
    {% endfor %}
</datalist>

{{ data|json_script:"data" }}
{{ form.errors|default:"" }}
{{ formset.errors|default:"" }}
{{ formset.non_form_errors }}
