{% load budget static %}

<!DOCTYPE html>

<head>
    <title>{{ form.date.value }} - Transaction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
    <script src="{% static 'budget/htmx.min.js' %}"></script>
    <script src="{% static 'budget/jdecimal.js' %}"></script>
    <script src="{% static 'budget/util.js' %}"></script>
    <script src="{% static 'budget/editor.js' %}"></script>
</head>


<div class="controls">
    <div class="navigation">
        {% if request.GET.back %}
        <a href="{{ request.GET.back }}">Back</a>
        {% endif %}
    </div>
    <div class="tools">
        {% if transaction_id %}
        <form class="edit" action="{% url 'delete' budget.id transaction_id%}?back={{ request.GET.back|urlencode }}"
            method="post">
            {% csrf_token %}
            <button>Delete</button>
        </form>
        {% endif %}
        <button id="submit-button" form="form">
            {% if transaction_id %}Save Changes{% else %}Create Transaction{% endif %}
        </button>
    </div>
</div>

<form id="form" class="edit" action="{{ request.get_full_path }}" method="post">
    <main class="edit">
        <div class="editor">
            <table class="date-table">
                <tr>
                    <th>Date</th>
                </tr>
                <tr>
                    <td class="tdinput t6">{{ form.date }}</td>
                </tr>
            </table>
            {{ form.recurrence }}
            {% for part in form.formset %}
            {% with part_index=forloop.counter0 %}
            {% if not forloop.last %}
            {% include "budget/partials/edit_part.html" %}
            {% else %}
            {% include "budget/partials/edit_part_new.html" %}
            {% endif %}
            {% endwith %}
            {% endfor %}
            {{ form.formset.management_form.INITIAL_FORMS }}
            {{ form.formset.management_form.MIN_NUM_FORMS }}
            {{ form.formset.management_form.MAX_NUM_FORMS }}
            {% csrf_token %}
        </div>
    </main>
</form>

<datalist id="account-list">
    <option data-id="{{ budget.id }}" data-name="Inbox" value="👤 Inbox"></option>
    {% for account in accounts %}
    <option data-id="{{ account.id }}" data-name="{{ account.name }}" value="👤 {{ account.name }}"></option>
    {% endfor %}
    {% for id, name in friends.items %}
    <option data-id="{{ id }}" data-name="{{ name }}" value="👥 {{ name }}"></option>
    {% endfor %}
    {% for id, name in payees.items %}
    <option data-id="{{ id }}" data-name="{{ name }}" value="{{ name }}"></option>
    {% endfor %}
</datalist>
<datalist id="category-list">
    <option data-id="{{ budget.id }}" data-name="Inbox" value="👤 Inbox"></option>
    {% for category in categories %}
    <option data-id="{{ category.id }}" data-name="{{ category.name }}" value="👤 {{ category.name }}"></option>
    {% endfor %}
    {% for id, name in friends.items %}
    <option data-id="{{ id }}" data-name="{{ name }}" value="👥 {{ name }}"></option>
    {% endfor %}
    {% for id, name in payees.items %}
    <option data-id="{{ id }}" data-name="{{ name }}" value="{{ name }}"></option>
    {% endfor %}
</datalist>

{{ data|json_script:"data" }}
{{ form.errors|default:"" }}
{{ form.formset.errors|default:"" }}
{{ form.formset.non_form_errors }}
