{% load budget static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'budget/style.css' %}">
<script src="{% static 'budget/history.js' %}"></script>

<div><a href="{% url 'overview' budget_id %}">Overview</a></div>

<table id="table">
    <tr>
        <th><button id="add-prev" type="button">+</button></th>
        {% for month in months %}
        <th colspan="3">{{ month|date:"M Y" }}</th>
        {% endfor %}
        <th><button id="add-next" type="button">+</button></th>
    </tr>
    <tr>
        <th></th>
        {% for month in months %}
        <th>Budgeted</th>
        <th>Spent</th>
        <th>Total</th>
        {% endfor %}
        <th rowspan="{{grid|length|add:1}}"></th>
    </tr>
    {% for category, row in grid %}
    <tr data-category="{{category.id}}">
        <td>{{ category.name|default:"Inbox" }}</td>
        {% for field, total in row %}
        <td class="tdinput">{{field}}</td>
        <td class="spent">{{total|default:""}}</td>
        <td class="total"></td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        <td colspan="9999">
            <form method="post" action="{% url 'new_category' budget_id %}">
                <button>New Category</button>{% csrf_token %}
            </form>
        </td>
    </tr>
</table>
<div>
    <form action="{{ request.get_full_path }}" method="post" id="form">
        {% for form in formset %}
        {{ form.id }}
        {{ form.date }}
        {% endfor %}
        {{ formset.management_form }}
        {% csrf_token %}
        <button>Save</button>
    </form>
</div>
{{ data|json_script:"data" }}
{{ form.errors|default:"" }}
{{ formset.errors|default:"" }}
{{ formset.non_form_errors }}
