{% load budget static %}

<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
</head>
<div><a href="{% url 'overview' budget.id %}">Overview</a></div>

<form id="form" method="post">
    <div>Budget name for others: {{ budget_form.name }}</div>
    <table>
        <tr>
            <th>Category</th>
            <th>Currency</th>
            <th>Closed</th>
        </tr>
        {% for form in category_formset %}
        {% ifchanged form.instance.group %}
        <tr>
            <th class="groupname">
                {{form.instance.group|default:"&nbsp;"}}
            </th>
            <th colspan="2"></th>
        </tr>
        {% endifchanged %}
        <tr {% if request.GET.hl == form.instance.id|slugify %}class="hl" {% endif %}>
            <td class="tdinput">{{ form.name }}</td>
            <td class="tdinput">{{ form.currency }}</td>
            <td>{{ form.closed }}{{form.id_ptr}}
                {% if request.GET.hl == form.instance.id|slugify %}<span class="newaccount"></span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td><input type="submit" name="new_category" value="New Category"></td>
            <td colspan="2"></td>
        </tr>
        <tr>
            <th>Account</th>
            <th>Currency</th>
            <th>Closed</th>
        </tr>
        {% for form in account_formset %}
        <tr {% if request.GET.hl == form.instance.id|slugify %}class="hl" {% endif %}>
            <td class="tdinput">{{ form.name }}</td>
            <td class="tdinput">{{ form.currency }}</td>
            <td>{{ form.closed }}{{form.id_ptr}}
                {% if request.GET.hl == form.instance.id|slugify %}<span class="newaccount"></span>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td><input type="submit" name="new_account" value="New Account"></td>
            <td colspan="2"></td>
        </tr>
    </table>
    {{ category_formset.management_form }}
    {{ account_formset.management_form }}
    {% csrf_token %}
</form>
<div><button form="form">Save</button></div>
<div>
    {{ category_formset.errors|default:"" }}
    {{ category_formset.non_form_errors }}
    {{ account_formset.errors|default:"" }}
    {{ account_formset.non_form_errors }}
</div>
<datalist id="currencies">
    <option value="USD">
    <option value="EUR">
    <option value="JPY">
    <option value="GBP">
    <option value="AUD">
    <option value="CHF">
    <option value="CNH">
    <option value="INR">
</datalist>
