{% load budget static %}

<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="{% static 'budget/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="{% static 'budget/jdecimal.js' %}"></script>
    <script src="{% static 'budget/util.js' %}"></script>
    <script src="{% static 'budget/onthego.js' %}"></script>
</head>

<div><a href="{% url 'overview' budget.main_budget.id %}">Overview</a></div>
{% if 'confirm' in request.GET %}
<div>Transaction added. <a href="{% url 'edit' budget.id request.GET.confirm %}?back={% url 'otg' budget.id %}">Continue editing...</a></div>
{% endif %}
<form action="" method="post">
    <table id="table">
        <tr>
            <th>Amount</th>
            <td class="tdinput">{{ form.amount }}<input class="number" required autofocus></td>
        </tr>
        <tr>
            <th>Note</th>
            <td class="tdinput">{{ form.note }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td class="tdinput">{{ form.date }}</td>
        </tr>
        <tr>
            <th>Currency</th>
            <td class="tdinput">{{ form.currency }}</td>
        </tr>
        <tr>
            <th>Split between</th>
            <td>{{ form.split }}</td>
        </tr>
    </table>
    {% csrf_token %}
    <div><button>Add Transaction</button></div>
</form>
{{ form.errors }}
<datalist id="payee-list">
    {% for id, name in payees %}
    <option data-id="{{ id }}" value="{{ name }}"></option>
    {% endfor %}
</datalist>
