{% load budget static %}

<!DOCTYPE html>
<link rel="stylesheet" href="{% static 'budget/style.css' %}">
<script src="{% static 'budget/util.js' %}"></script>
<script src="{% static 'budget/overview.js' %}"></script>

<div><a href="{% url 'manage' budget.id %}">Manage</a><br>
    <a href="{% url 'history' budget.id %}">Edit budget</a>
</div>

<form id="form" method="post" action="{% url 'reorder' budget.id %}">
    {{formset}}{% csrf_token %}
</form>
<table id="categories">
    <tbody data-group="">
        <th>Category</th>
        <th class="t5">Balance</th>
        {% for category in categories %}
        {% ifchanged category.group %}
    </tbody>
    <tbody draggable="true" data-group="{{category.group}}">
        <tr class="{% cycle 'a' 'b' as rowcolor %}">
            <td colspan="2" class="groupname">
                <button>{{category.group}}</button>
            </td>
        </tr>
        {% endifchanged %}
        <tr class="{% cycle rowcolor %}" draggable="true" data-form="{{forloop.counter0}}">
            <td>{% account_in_budget category budget %}</td>
            <td class="number" data-currency="{{ category.currency }}">{{ category.balance | default:0 }}</td>
        </tr>
        {% endfor %}
    </tbody>
    {% for currency, total in totals.items %}
    <tr class="{% cycle rowcolor %}">
        <td>Total</td>
        <td class="number" data-currency="{{ currency }}">{{ total }}</td>
    </tr>
    {% endfor %}
    <tr class="{% cycle rowcolor %}">
        <td>
            <form method="post" action="{% url 'new_category' budget.id %}">
                <button>New Category</button>{% csrf_token %}
            </form>
        </td>
        <td></td>
    </tr>
</table>
<template id="new-group-t">
    <tr id="new-group">
        <th colspan="2">New Group</th>
    </tr>
</template>
<table>
    <th>Account</th>
    <th class="t5">Balance</th>
    {% for account in accounts %}
    <tr class="{% cycle 'a' 'b' as rowcolor %}">
        <td>{% account_in_budget account budget %}</td>
        <td class="number" data-currency="{{ account.currency }}">{{ account.balance | default:0 }}</td>
    </tr>
    {% endfor %}
    {% for currency, other, amount in debts %}
    <tr class="{% cycle rowcolor %}">
        <td><a href="{% url 'balance' currency budget.id other.id %}">Owed by {{ other }}</a></td>
        <td class="number" data-currency="{{ currency }}">{{ amount }}</td>
    </tr>
    {% endfor %}
    {% for currency, total in totals.items %}
    <tr class="{% cycle rowcolor %}">
        <td>Total</td>
        <td class="number" data-currency="{{ currency }}">{{ total }}</td>
    </tr>
    {% endfor %}
    <tr class="{% cycle rowcolor %}">
        <td>
            <form method="post" action="{% url 'new_account' budget.id %}">
                <button>New Account</button>{% csrf_token %}
            </form>
        </td>
        <td></td>
    </tr>
</table>
