* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
    html {
        --canvas: rgb(246, 246, 246);
        --alt-canvas: #e0f0eb;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        --canvas: rgb(50, 50, 50);
        --alt-canvas: #1e4438;
    }
}

html {
    color-scheme: light dark;
    background-color: var(--canvas);
    --line-height: 1.5em;
    --td-border: 1px;
    font: 14px/var(--line-height) sans-serif;
}

body {
    margin: 0;
    margin-bottom: var(--line-height);
}

body>div,
table {
    margin: var(--line-height);
    margin-bottom: 0;
}

button,
input {
    font: inherit;
    /* Precisely fit controls into a line of text */
    height: var(--line-height);
    vertical-align: bottom;
}

td button,
td input {
    height: var(--td-line-height);
}

button {
    line-height: 0;
}

table {
    border-collapse: collapse;
}

.t4 {
    --cell-width: calc(4 * var(--line-height));
}

.t5 {
    --cell-width: calc(5 * var(--line-height));
}

.t6 {
    --cell-width: calc(6 * var(--line-height));
}

.t8 {
    --cell-width: calc(8 * var(--line-height));
}

.t9 {
    --cell-width: calc(9 * var(--line-height));
}

tr.a {
    background-color: var(--alt-canvas);
}

td,
th {
    /* Make each table row take exactly one line */
    --td-line-height: calc(var(--line-height) - var(--td-border));
    line-height: var(--td-line-height);
    width: var(--cell-width);
    --td-hpad: calc(var(--line-height) * 0.2);
    border: var(--td-border) solid #888;
    padding: 0 var(--td-hpad);
}

.detail-container {
    /* Start in the upper right corner of the cell's contents */
    float: right;
}

.line {
    /* Align to bottom of row */
    line-height: 1;
    vertical-align: bottom;
    font-weight: bold;
}

.transaction-detail {
    /* Allow table to fill screen width */
    position: absolute;
    margin-left: calc(var(--td-hpad) + var(--td-border));
    display: none;
}

.transaction-detail-table {
    margin: 0 var(--line-height);
}

tr:focus-within .transaction-detail {
    display: initial;
}

form.edit {
    display: inline;
}

/* The focus ring is on the same z-index as the input, so if an adjacent input
   has a background it will cover part of it. Work around this by making enabled
   inputs transparent and ones with a background on a lower z-index. */

.tdinput {
    background-color: Field;
    padding: 0;
    /* position: relative; */
    /* Makes position: relative work */
    /* background-clip: content-box; */
}

.tdinput input {
    border: none;
    padding: 0 calc(2 * var(--td-hpad));
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
}

.tdinput input:disabled {
    background-color: var(--canvas);
    z-index: 0;
}

.suggested {
    color: GrayText;
    font-style: italic;
}

.number {
    text-align: right;
}

.currency {
    position: absolute;
    padding-left: calc(2 * var(--td-hpad));
}

.currency+input {
    padding-left: calc(2 * var(--td-hpad) + 4ch);
}
