{%- if account %}
<title>{{ account.name or "Inbox" }} -  Budge It</title>
<div class="controls">
    <button class="backbutton" hx-on:click="document.querySelector('[name=account]').select(null)">Close</button>
    <div><button type="button"
        hx-get="{{ url('all', budget.id, account.id, 'new') }}"
        hx-target="#transaction"
        hx-on:click="document.querySelector('[name=transaction]').checked = null">
        New Transaction</button></div>
    <div class="spacer"></div>
    <div><b>{{ account.name or "Inbox" }}</b>:
        <long-currency id="balance" currency="{{ account.currency }}" value="{{ balance }}"></long-currency>
    </div>
    {% if account.clearable %}
    <div class="spacer"></div>
    <div>
        <button hx-post="{{ url('reconcile', account.id) }}" hx-swap="none" hx-target="this"
        hx-select-oob="#transaction,#entries,#categories"
        >Reconcile</button> balance of
        <long-currency id="cleared-balance" currency="{{ account.currency }}" value="{{ cleared }}"></long-currency>
    </div>
    {% endif %}
</div>
<div class="transactions">
{% set rowclass = cycler('a', 'b') %}
<entry-list class="grid gapgrid {% if account.clearable %}c5{% else %}c4{% endif %}"
    {% if request.headers.hx_target == 'account' and request.headers.hx_event != 'kbdselect' %}autofocus{% endif %}
    name="transaction"
    hx-trigger="kbdselect,mouseselect delay:100ms"
    hx-get="{{ url('all', budget.id, account.id) }}"
    hx-target="#transaction"
    hx-disinherit="*">
<div id="entries">
    {% block list_contents %}
    <div>
        <span class="listhead th th1">Date</span>
        <span class="listhead th th1">Transaction</span>
        <span class="listhead th th1">{{ account.currency }}</span>
        {% if account.clearable %}<span class="listhead th th1">☑️</span>{% endif %}
        <span class="listhead th th1">Total</span>
    </div>
    {% if quick_add %}
    <form class="{{ rowclass.next() }}" hx-put="{{ url('all', budget.id, account.id) }}" hx-target="this" hx-swap="none" hx-select-oob="#transaction,#entries,#categories,#balance,#cleared-balance">
        <span class="td tdinput">{{ quick_add.date }}</span>
        <span class="td tdinput">{{ quick_add.note }}</span>
        <currency-input class="td tdinput" currency="{{ account.currency }}">
            <span class="sigil">-</span>
            {{ quick_add.amount }}
            <input class="number" size="8" placeholder="0.00">
        </currency-input>
        {{ quick_add.is_split }}<label for="id_qa-is_split" class="td"> Split</label>
        <span class="td split-between" style="grid-column: 2 / -2;">
            Split between: {% for split in quick_add.split %}
            {{ split }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </span>
        <button style="display: none;"></button>
    </form>
    {% endif %}
{% for row in entries %}
    <div class="{{ rowclass.next() }} {{"is_inbox" if row.is_inbox else ""}} {% if transaction.id == row.id %}checked{% endif %} {{"is_future" if row.is_future else "" }} entry"
        data-value="{{row.id}}">
        <span class="td">{{row.date}} {% if row.recurrence %}🔁{% endif %}</span>

        <span class="td ellipsis">{{ row.description }}</span>

        <short-currency class="td number" value="{{row.change}}" currency="{{account.currency}}"></short-currency>

        {% if account.clearable %}
        {% if row.is_inbox %}
        <span class="td"></span>
        {% else %}
        <label class="td" for="clear-{{ row.id }}">
            {% if row.reconciled %}
            🔒
            {% else %}
            <input type="checkbox"
                name="clear"
                id="clear-{{ row.id }}"
                hx-post="{{ url('clear', account.id, row.id) }}"
                hx-swap="none" hx-select-oob="#transaction,#entries,#categories,#balance,#cleared-balance"
                hx-target="this"
                hx-sync="entry-list:replace"
                {% if not row.uncleared %}checked{% endif %}>
            {% endif %}
        </label>
        {% endif %}
        {% endif %}

        {% if row.is_inbox %}
        <span class="td">
            <button hx-post="{{ url('add_to_account', account.id, row.id) }}"
                class="move-here"
                hx-swap="none" hx-select-oob="#transaction,#entries,#categories,#balance,#cleared-balance"
                hx-target="this"
                hx-sync="entry-list:replace">
                Move here</button>
        </span>
        {% else %}
        <short-currency class="td number" value="{{ row.running_sum }}" currency="{{ account.currency }}" id="total-{{row.id}}"></short-currency>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
</div>
</entry-list>
</div>
{% endif -%}

{% if request.headers.hx_target == 'account' %}
<div id="pagestate" {% if account %}class="has_account"{% endif %} hx-swap-oob="true"></div>
<div id="transaction" class="editor column" hx-swap-oob="true"></div>
{% endif %}