{%- if transaction_ids %}
<div class="controls">
    <button class="backbutton" hx-on:click="document.querySelector('[name=transaction]').select(null)">Close</button>
    <div class="spacer"></div>
    <button id="submit-button" form="form">
        {% if transaction_ids == 'new' %}Create Transaction{% else %}Save Changes{% endif %}
    </button>
    {% if transaction.id and transaction.kind == "T" %}
    <button type="button" hx-delete=""
        hx-swap="none" hx-select-oob="#transaction,#entries,#categories,#datas"
        hx-confirm="Delete this transaction?">
        Delete Transaction</button>
    {% endif %}
</div>
<div class="scroll edit">
<form id="form" autocomplete="off"
    hx-trigger="submit, keydown[key=='Enter'&&(ctrlKey||metaKey)] from:body"
    hx-post=""
    hx-swap="none" hx-select-oob="#transaction,#entries,#categories,#datas">
    {% if transaction.kind == 'B' %}
    {% include 'budget/partials/budget.html' %}
    {% elif form.is_multi %}
    <div class="editor">
    <div>{{ transaction_ids|length }} transactions selected.</div>
    {% for part in form %}
    <hr>
    <table class="edit-table">
        <tr>
            <th class="listhead t6">Account</th>
            <th class="listhead t6">Category</th>
            <th class="listhead t4">Paid</th>
            <th class="listhead t4">Owed</th>
        </tr>
        {% for row in part %}
        <tr class="edit-row {{ 'a' if loop.index0 % 2 == 0 else 'b' }}">
            <td class="tdinput"><account-select data-account>
                {{ row.account }}<span></span><input list="accounts-{{ row.row.currency }}">
                </account-select></td>
            <td class="tdinput"><account-select>
                {{ row.category }}<span></span><input list="categories-{{ row.row.currency }}">
            </account-select></td>
            <td class="tdinput"><currency-input currency="{{ row.row.currency }}">
                {{ row.transferred }}<input class="number" disabled>
            </currency-input></td>
            <td class="tdinput"><currency-input currency="{{ row.row.currency }}">
                {{ row.moved }}<input class="number" disabled>
            </currency-input></td>
        </tr>
        {% endfor %}
    </table>
    {{ part.management_form.TOTAL_FORMS }}
    {{ part.management_form.INITIAL_FORMS }}
    {{ part.management_form.MIN_NUM_FORMS }}
    {{ part.management_form.MAX_NUM_FORMS }}
    <div class="date-table">
        <label>Currency</label><span>{{ part[0].row.currency }}</span>
    </div>
    {% endfor %}
    </div>
    {{ form.management_form.TOTAL_FORMS }}
    {{ form.management_form.INITIAL_FORMS }}
    {{ form.management_form.MIN_NUM_FORMS }}
    {{ form.management_form.MAX_NUM_FORMS }}
    {% else %}
    <transaction-editor class="editor">
        <date-repeat class="part-extras">
            <div class="date-table">
                <label for="{{form.date.id_for_label }}">Date</label>
                <span>{{ form.date }}</span>
                <label for="{{form.repeat.id_for_label }}">Repeat</label>
                <span data-value="{{ form.repeat.value() }}">
                    {{ form.repeat }}
                </span>
                <span class="repeat">
                    <span class="R">
                        {{ form.interval }} {{ form.freq }}
                    </span>
                    <span class="C">
                        {{ form.recurrence }}
                    </span>
                </span>
            </div>
        </date-repeat>
        {% for part in form.formset %}
        {% set part_index=loop.index0 %}
        {% set currency=part.currency.value() %}
        {% block edit_part scoped %}
        <edit-part>
            <hr>
            <table class="edit-table">
                <tr>
                    <th class="listhead t6">Account</th>
                    <th class="listhead t6">Category</th>
                    <th class="listhead t4">Paid</th>
                    <th class="listhead t4">Owed</th>
                </tr>
                {% for row in part.formset %}
                {% set row_index=loop.index0 %}
                {% block edit_row scoped %}
                <tr class="edit-row {{ 'a' if row_index % 2 == 0 else 'b' }}">
                    <td class="tdinput"><account-select data-account>
                        {{ row.account }}<span></span><input list="accounts-{{ currency }}"
                            {% if row.row.reconciled %}readonly{% endif %}>
                        </account-select></td>
                    <td class="tdinput"><account-select>
                        {{ row.category }}<span></span><input list="categories-{{ currency }}">
                    </account-select></td>
                    <td class="tdinput"><currency-input currency="{{ currency }}">
                        {{ row.transferred }}
                        <input class="number" placeholder="0.00" {% if row.row.reconciled %}readonly{% endif %}>
                    </currency-input></td>
                    <td class="tdinput"><currency-input currency="{{ currency }}">
                        {{ row.moved }}
                        <input class="number" placeholder="0.00">
                    </currency-input></td>
                </tr>
                {% if not loop or loop.last %}
                <tr class="new_row" style="display: none;"
                    {% if part.formset.management_form.TOTAL_FORMS.value() < part.formset.management_form.MAX_NUM_FORMS.value() %}
                    hx-get="{{ url('row_form', budget.id, part_index, part.formset.management_form.TOTAL_FORMS.value()) }}"
                    hx-swap="outerHTML"
                    hx-trigger="account-change from:previous tr"
                    {% endif %}
                    >
                    <td>{{ part.formset.management_form.TOTAL_FORMS }}</td>
                </tr>
                {% endif %}
                {% endblock %}
                {% endfor %}
            </table>
            <div class="date-table">
                {{ part.id }}
                {{ part.formset.management_form.INITIAL_FORMS }}
                {{ part.formset.management_form.MIN_NUM_FORMS }}
                {{ part.formset.management_form.MAX_NUM_FORMS }}
                <label for="{{ part.note.id_for_label }}">Note</label>
                {{ part.note }}
                <label for="{{ part.currency.id_for_label }}">Currency</label>
                <span>{{ part.currency }}</span>
            </div>
            {{ part.errors }}
            <div class="category-sum"></div>
            <div class="account-sum"></div>
            <div class="debt"></div>
        </edit-part>

        {% if not loop or loop.last %}
        <div id="new_part">
            {{ form.formset.management_form.TOTAL_FORMS }}
            {% if form.formset.management_form.TOTAL_FORMS.value() < form.formset.management_form.MAX_NUM_FORMS.value() %}
            <button type="button"
                hx-get="{{ url('part_form', budget.id, form.formset.management_form.TOTAL_FORMS.value()) }}"
                hx-target="#new_part"
                hx-swap="outerHTML">Add Part</button>
            {% endif %}
        </div>
        {% endif %}
        {% endblock %}
        {% endfor %}
        {{ form.formset.management_form.INITIAL_FORMS }}
        {{ form.formset.management_form.MIN_NUM_FORMS }}
        {{ form.formset.management_form.MAX_NUM_FORMS }}
        {{ csrf_input }}
    {{ form.formset.non_form_errors() or "" }}
    

    {{ form.errors or "" }}
    </transaction-editor>
    {% endif %}
</form>
</div>
{% endif -%}

{% if request.headers.hx_target == 'transaction' %}
<div id="pagestate" {% if transaction_ids %}class="has_transaction"{% else %}class="has_account"{% endif %} hx-swap-oob="true"></div>
{% endif %}