<div class="controls">&nbsp;</div>
{% set checked = account and account.id %}
<entry-list
    class="overview grid c2"
    class="scroll"
    name="account"
    {% if not account %}autofocus{% endif %}
    hx-trigger="kbdselect,mouseselect delay:100ms"
    hx-get="{{ url('all', budget.id) }}"
    hx-target="#account"
    hx-select-oob="#transaction">
    <div id="categories">
        <div>
            <span class="th th1">Categories</span>
            <span class="th th1"><a href="{{ url('budget', budget.id, today.year, today.month) }}">Budget...</a></span>
        </div>
        {% set rowclass = cycler('a', 'b') %}
        {% for row in categories %}
        {% if row in groups %}
        <div>
            <span class="th ellipsis">{{ row.group }}</span>
            <span class="th">
                {%- for currency, amounts in groups[row].items() if amounts|length > 1%}
                <long-currency currency="{{ currency }}" value="{{ amounts|sum }}"></long-currency>
                {% if not loop.last %}<br>{% endif %}
                {% endfor -%}
            </span>
        </div>
        {% endif %}
        <div class="{% if row.id == checked %}checked{% endif %}" data-value="{{row.id}}">
            <span class="td ellipsis">{{ row.name or "Inbox" }}</span>
            <span class="td">
                <long-currency currency="{{ row.currency }}" value="{{ row.balance or 0 }}"></long-currency>
            </span>
        </div>
        {% endfor %}
        <div>
            <span class="th th1">Accounts</span>
            <span class="th th1"></span>
        </div>
        {% for row in accounts %}
        <div class="{% if row.id == checked %}checked{% endif %}" data-value="{{row.id}}">
            <span class="td ellipsis">{{ row.name or "Inbox" }}</span>
            <span class="td"> <long-currency currency="{{ row.currency }}" value="{{ row.balance or 0 }}"></long-currency></span>
        </div>
        {% endfor %}
        {% for row in debts %}
        <div class="{% if row.id == checked %}checked{% endif %}" data-value="{{ row.id }}">
            <span class="td">Owed by {{ row.other }}</span>
            <span class="td">
                <long-currency currency="{{ row.currency }}" value="{{ row.other.balance }}"></long-currency>
            </span>
        </div>
        {% endfor %}
        <div>
            <span class="th th2">Totals</span>
            <span class="th th2"></span>
        </div>
        {% for row in totals %}
        <div class="{% if row.id == checked %}checked{% endif %}" data-value="{{ row.id }}">
            <span class="td">Total</span>
            <span class="td">
                <long-currency currency="{{ row.currency }}" value="{{ row.balance }}"></long-currency>
            </span>
        </div>
        {% endfor %}
        <div><span style="grid-column: span 2;">&nbsp;</span></div>
        <div><span style="grid-column: span 2;">
                <a href="{{ url('manage', budget.id) }}">Edit accounts and categories...</a>
        </span></div>
        <div><span style="grid-column: span 2;">&nbsp;</span></div>
    </div>
</entry-list>
