<div class="controls">
    <div id="datas">
        {% for currency, accounts in edit.accounts.items() %}
        <datalist id="accounts-{{ currency }}">
            <option data-id="{{ budget.id }}" data-name="Inbox" value="👤 Inbox"></option>
            {% for account in accounts %}
            <option data-id="{{ account.id }}" data-name="{{ account.name }}" value="👤 {{ account.name }}"></option>
            {% endfor %}
            {% for id, name in edit.friends.items() %}
            <option data-id="{{ id }}" data-name="{{ name }}" value="👥 {{ name }}"></option>
            {% endfor %}
            {% for id, name in edit.payees.items() -%}
            <option data-id="{{ id }}" value="{{ name }}"></option>
            {%- endfor %}
        </datalist>
        {% endfor %}
        {% for currency, categories in edit.categories.items() %}
        <datalist id="categories-{{ currency }}">
            <option data-id="{{ budget.id }}" data-name="Inbox" value="👤 Inbox"></option>
            {% for category in categories %}
            <option data-id="{{ category.id }}" data-name="{{ category.name }}" value="👤 {{ category.name }}"></option>
            {% endfor %}
            {% for id, name in edit.friends.items() %}
            <option data-id="{{ id }}" data-name="{{ name }}" value="👥 {{ name }}"></option>
            {% endfor %}
            {% for id, name in edit.payees.items() -%}
            <option data-id="{{ id }}" value="{{ name }}"></option>
            {%- endfor %}
        </datalist>
        {% endfor %}
        <script id="data" type="application/json">
            {{ edit.data|tojson|safe }}
        </script>        
        <script>window.data = JSON.parse(document.getElementById('data').textContent);</script>
    </div>
</div>
{% set checked = account and account.id %}
<div class="overview">
<entry-list
    class="grid c2"
    class="scroll"
    name="account"
    {% if not account %}autofocus{% endif %}
    hx-trigger="kbdselect,mouseselect delay:100ms"
    hx-get="{{ url('all', budget.id) }}"
    hx-target="#account"
    hx-disinherit="*">
    <div id="categories">
        <!--If this were in the controls their height could be dynamic-->
        <div>
            <span class="th th2">Categories</span>
            <span class="th th2"><a href="{{ url('budget', budget.id, today.year, today.month) }}" hx-boost="true">Budget...</a></span>
        </div>
        <div><span style="grid-column: span 2;">&nbsp;</span></div>
        {% for row in categories %}
        {% if row in groups and row.group %}
        <div>
            <span class="th ellipsis">{{ row.group }}</span>
            <span class="th">
                {%- for currency, amounts in groups[row].items() if amounts|length > 1%}
                <long-currency currency="{{ currency }}" value="{{ amounts|sum }}"></long-currency>
                {% if not loop.last %}<br>{% endif %}
                {% endfor -%}
            </span>
        </div>
        {% endif %}
        <div class="{% if row.id == checked %}checked{% endif %}" data-value="{{row.id}}">
            <a class="td ellipsis" href="{{ url('all', budget.id, row.id) }}" title="{{ row.name }}">{{ row.name or "Inbox" }}</a>
            <span class="td">
                <long-currency currency="{{ row.currency }}" value="{{ row.balance or 0 }}"></long-currency>
            </span>
        </div>
        {% endfor %}
        <div>
            <span class="th th2">Accounts</span>
            <span class="th th2"></span>
        </div>
        {% for row in accounts %}
        <div class="{% if row.id == checked %}checked{% endif %}" data-value="{{row.id}}">
            <a class="td ellipsis" href="{{ url('all', budget.id, row.id) }}" title="{{ row.name }}">{{ row.name or "Inbox" }}</a>
            <span class="td"> <long-currency currency="{{ row.currency }}" value="{{ row.balance or 0 }}"></long-currency></span>
        </div>
        {% endfor %}
        {% for row in debts %}
        <div class="{% if row.id == checked %}checked{% endif %}" data-value="{{ row.id }}">
            <a class="td" href="{{ url('all', budget.id, row.id) }}">Owed by {{ row.other }}</a>
            <span class="td">
                <long-currency currency="{{ row.currency }}" value="{{ row.other.balance }}"></long-currency>
            </span>
        </div>
        {% endfor %}
        <div>
            <span class="th th2">Totals</span>
            <span class="th th2"></span>
        </div>
        {% for row in totals %}
        <div class="{% if row.id == checked %}checked{% endif %}" data-value="{{ row.id }}">
            <a class="td" href="{{ url('all', budget.id, row.id) }}">Total</a>
            <span class="td">
                <long-currency currency="{{ row.currency }}" value="{{ row.balance }}"></long-currency>
            </span>
        </div>
        {% endfor %}
        <div><span style="grid-column: span 2;">&nbsp;</span></div>
        <div><span style="grid-column: span 2;">
                <a href="{{ url('manage', budget.id) }}">Edit accounts and categories...</a>
        </span></div>
        <div><span style="grid-column: span 2;">&nbsp;</span></div>
    </div>
</entry-list>
</div>