<!DOCTYPE html>

<head>
    {% if account %}
    <title>{{ account.name or "Inbox" }} -  Budge It</title>
    {% else %}
    <title>Budge It</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ static('budget/style.css') }}">
    <!--Not deferred to avoid FOUC-->
    <script src="{{ static('budget/jdecimal.js') }}"></script>
    <script src="{{ static('budget/util.js') }}"></script>
    <script src="{{ static('budget/editor.js') }}"></script>
    <script src="{{ static('budget/budget.js') }}"></script>
    <script src="{{ static('budget/manage.js') }}" defer></script>
    <script src="{{ static('budget/htmx.min.js') }}" defer></script>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-ext="event-header" hx-history="false" class="all">
    <div id="overview">{% include 'budget/partials/overview.html' %}</div>
    <div id="account">{% include 'budget/partials/account.html' %}</div>
    <div id="transaction">{% include 'budget/partials/edit.html' %}</div>
</body>
